@font-face {
  font-family: 'REDE-LIGHT';
  src: url('../font/NeueMachina-Light.otf') format('woff2');
  
}

@font-face {
  font-family: 'REDE-BOLD';
  src: url('../font/NeueMachina-Ultrabold.otf') format('woff2');
 
}

@font-face {
  font-family: 'REDE-REGULAR';
  src: url('../font/NeueMachina-Regular.otf') format('woff2');

}